#txt {
    display: block;
    border: 2px solid #ccc;
    width: 50%;
    border-radius: 5px;
    float: left;
    margin: 2% 2%;
    padding: 1.5% 4%;
    font-size: 1.2rem;
}

#toDoBox:nth-child(1n) {
    background-color: rgb(197, 120, 57);
}

#toDoBox:nth-child(even) {
    background-color: aqua;
}

#toDoBox:nth-child(3n) {
    background-color: rgb(161, 77, 209);
}

#toDoBox:nth-child(5n) {
    background-color: rgb(159, 167, 50);
}

#toDoBox {
    width: 96%;
    height: 30%;
    list-style: none;
    margin: 2%;
    text-align: center;
    size: contain;
    font-size: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#del_btn {
    margin: 1%;
    background-color: #def37f;
    border: none;
    color: rgb(8, 8, 8);
    padding: 0.5% 1%;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    font-size: 50%;
}

#add_btn {
    background-color: #0478e4;
    padding: 2% 4%;
    margin: 1.5% 2%;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    font-size: 1.2rem;
}

fieldset {
    font-size: 2rem;
    padding: 0.5em;
    text-align: center;
    border-radius: 1em;
    font-family: sans-serif;
}

#todo_txt_allign {
    width: 90%;
}

#data::-webkit-scrollbar {
    display: none;
}

textarea {
    resize: none;
    margin: 1%;
    font-family: 'Reenie Beanie';
    font-size: 3rem;
    background: transparent;
    border: transparent;
    text-align: center;
    width: 80%;
    overflow-y: auto;
    word-wrap: break-word;
    height: fit-content;
}

#data {
    height: 50vh;
    overflow: auto;
}