.input_box {
  padding: 10px;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5px;
  margin-bottom: 3%;
  border-style: dotted;
  background: url('../img/file_upload.png'), rgb(245, 245, 245);
  height: 55vh;
  float: center;
  border-color: #838383;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

.input_box.is-dragover {
  background-color: rgb(209, 11, 11);
}

.input_file {
  float: left;
  margin: 2% 2%;
}

.proceed {
  background-color: #29c28a;
  border: none;
  color: white;
  padding: 2% 4%;
  text-decoration: none;
  margin: 2% 2%;
  cursor: pointer;
  float: right;
}

.input_box.is-dragover {
  background-color: grey;
}
